[Desktop Entry]
Name=Mlat Configuration Tool
Exec=/opt/mlat/run.sh
Icon=/opt/mlat/wails-runtime/appicon.png
Terminal=false
Type=Application
Categories=Utility;
