html {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
}

body {
    margin: 0;
    color: #617c8a;;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

.p-tabview .p-tabview-panels {
    padding: 0;
}

.p-multiselect-filter-container {
    height: 35px;
}

.p-multiselect-filter-container input {
    height: 35px;
}

.map-toolbar-button:hover {
    background-color: rgba(255, 252, 252, 0.1);
    color: #fff;
    fill: #fff;
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.map-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    z-index: 1000;
    background-color: rgba(255, 252, 252, 0.1);
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.map-legend {
    position: absolute;
    bottom: 55px;
    right: 0;
    height: 140px;
    width: 300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: rgba(4, 4, 4, 0.46);
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.legend-item {
    display: flex;
    height: 20px;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.legend-text {
    color: #ead8d8;
}
